<div id="contact" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">

        <form class="form-horizontal form-contact clearfix" action="https://formspree.io/marcaltmann@posteo.de" method="POST">

          <div class="form-group">
            <label class="message-label">Lieber Marc,</label>
            <textarea class="message form-control" rows="8" name="body" placeholder="Gib' deine Nachricht ein…"></textarea>
          </div>

          <div class="form-group">
            <label for="name">Viele Grüße</label>
            <input type="name" class="name form-control" placeholder="Dein Name">
            <label for="email" class="sr-only">E-Mail</label>
            <input type="email" class="email form-control" name="_replyto" placeholder="Deine E-Mail">
          </div>

          <input type="submit" class="btn btn-default" style="float-right" value="Senden">

        </form>

      </div>

    </div>

  </div>
</div>
